{% extends 'base.html' %}

{% block contenido %}
<a href="{% url 'crudnuevo' %}" class="btn btn-primary">Nueva Moneda</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Abreviación</th>
      <th>Funciones</th>
    </tr>
  </thead>
  <tbody>
    {% for moneda in monedas %}
      <tr>
        <th scope="row">{{ moneda.id }}</th>
        <td>
          <a href="{% url 'crudeditar' moneda.id %}">{{ moneda.nombre }}</a>
        </td>
        <td>{{ moneda.abreviacion }}</td>
        <td>
          <a href="{% url 'crudeditar' moneda.id %}"
            class="btn btn-info btn-sm">Editar</a>
          <a href="{% url 'crudeliminar' moneda.id %}"
            class="btn btn-danger btn-sm">eliminar</a>
        </td>
      </tr>
    {% endfor  %}
  </tbody>
</table>
{% endblock %}
